.*\.pyc$
.*\.swp$
.eggs
.hypothesis
.pytest_cache
.vscode
docs/.ipynb_checkpoints
test/*
venv
build
Thun.egg-info
dist
__pycache__
implementations/Nim/joy
implementations/Python/joy
docs/notebooks/.ipynb_checkpoints
joy.py.*
