
body {
 background: #fff;
 color: black;
 font-family: 'EB Garamond 12';
}

footer {
 margin-top: 2em;
 font-family: 'EB Garamond SC 08';
 font-size: x-small;
 text-align: center;
}

code {
 background: #eee;
}

pre {
 background: #eee;
 margin-left: 2em;
 margin-right: 2em;
 margin-bottom: 1em;
 font-family: 'Inconsolata';
 padding: 0.5em;
}

blockquote {
 font-family: monospace, 'Inconsolata';
 background: #eee;
 border-left: 0.2em solid black;
 padding: 0.5em;
}

li {
 font-family: monospace, 'Inconsolata';
 display: inline list-item;
}

a.self_link {
 color: #bbb;
 font-family: monospace, 'Inconsolata';
}

a.self_link:hover {
 color: #000;
}

.func_name {
 font-family: monospace, 'Inconsolata';
}


span.kind {
 color: #fff;
 background: #555;
 padding: 0.1em;
}
