
body {
 background: #fff;
 color: black;
 font-family: 'EB Garamond 12';
}

footer {
 margin-top: 2em;
 font-family: 'EB Garamond SC 08';
 font-size: x-small;
 text-align: center;
}

code {
 background: #eee;
}

pre {
 background: #eee;
 margin-left: 2em;
 margin-right: 2em;
 margin-bottom: 1em;
 font-family: 'Inconsolata';
 padding: 0.5em;
}

blockquote {
 background: #eee;
 border-left: 0.2em solid black;
 padding: 0.5em;
}

#joy_interpreter {
 background: #fff;
 font-family: monospace, Inconsolata;
 padding: 0.25em;
 position: sticky;
 top: 0;
 border: 2px solid black;
}

#joy_interpreter > input {
 box-sizing: border-box;
 width: 100%;
 height: 2em;
}

#joy_interpreter > div {
 background: #eee;
 border-left: 1px solid black;
 padding: 0.5em;
 height: 1em;
 margin-left: 0.25em;
 margin-right: 0.25em;
}
